# Python
__pycache__
*.pyc
*.egg-info
dist
/example_data
/.vscode

# Log
*.log
*.log.*

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*
