# Python
__pycache__
*.pyc
*.egg-info
dist


# Log
*.log
*.log.*
*.pickle

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*
