experimental_data/**/*.svs filter=lfs diff=lfs merge=lfs -text
experimental_data/**/*.npy filter=lfs diff=lfs merge=lfs -text
experimental_data/**/*.csv filter=lfs diff=lfs merge=lfs -text
experimental_data/**/*.tiff filter=lfs diff=lfs merge=lfs -text
experimental_data/**/*.pkl filter=lfs diff=lfs merge=lfs -text
feature_pre-calculation/**/*.torchmdl filter=lfs diff=lfs merge=lfs -text

